
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index4</title>
    <script type="text/javascript" src="/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        function aaa() {
            var str = QueryString("url");
            alert(aaa);
        }
    </script>
</head>
<body>
    <div> 
        <input type="button" onclick="aaa()" value="按钮" />
    </div>
    <div>
        @Html.PageLinks()
    </div>
</body>
</html>
