
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div> 
        <p>插入数据成功</p>
        <p>@ViewBag.list</p>
    </div>
</body>
</html>
